<% layout('./layouts/boilerplate.ejs')-%>
<body>
    <h3 style="text-align:center ;"><%= list.title %></h3>
    <div class="dcard">
        <img src="<%= list.image.url%>" alt="listing-image">
        <p>@ <i><%=list.owner.username%></i></p>
        <p><%= list.description %> </p>
        <p>Rs. <b><%= list.price %></b></p>
        <p><b><%= list.location %></b></p>
        <p><b><%= list.country %></b></p>
        <!-- <br/> -->
         <% if(currUser && list.owner._id.equals(currUser._id)) {%> 
            <div class="btns">
                <form action="/listings/<%=list._id%>/edit" method="get" >
                    <button style="background-color: #fe424d;" >Edit</button>
                </form>
                <form action="/listings/<%=list._id%>?_method=DELETE" method="post" >
                    <button style="margin-left: 1rem; background-color: #000;">Delete</button>
                </form>
            </div>
        <% } %>    
    </div>
    <hr/>
    <!-- Creating review portion -->
    <% if(currUser ) {%>   

        <form action="/listings/<%=list._id%>/reviews" method="post" novalidate class="needs-validation">
            <div class="review">
                <h4>Leave a review </h4>
                <div class="rating">
                    <label for="rating">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                </div>
                <div class="comment">
                    <label for="comments">Comments</label>
                    <textarea name="review[comments]" id="comments" cols="60" rows="5" placeholder="please leave a comment" class="form-control" required></textarea>
                    <div class="invalid-feedback">please add some comments</div>
                </div>
                    <button>Submit</button>
            </div>
        </form>

        <hr/>
    <% } %>   
    <!-- Showing reviews -->
     <div class="show-reviews">
         <h4 style="text-align: center;">All Reviews</h4>
         <ul>
            <% for(review of list.reviews) {%>
                <div class="rcard">
                    <p><b>@<%=review.author.username%></b></p>
                    <p class="starability-result" data-rating="<%=review.rating%>"></p>
                    <p><%=review.comments%></p>
                    
                    <% if(currUser && currUser._id.equals(review.author._id)) {%> 
                        <form action="/listings/<%=list._id%>/reviews/<%=review._id%>?_method=DELETE" method="post">
                            <button>Delete</button>
                        </form>
                    <% } %>
                </div>
            <% } %>
                
         </ul>

     </div>
    
</body>


